<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Grymt spel</title>
    <% include partials/common-css %>
    <link type="text/css" rel="stylesheet" href="css/lobby.css" />
</head>

<body>

    <% include partials/header %>
    <div class="container">
        <div id="lobby-jumbotron" class="jumbotron">
            <h2>Access Denied</h2>
        </div>
    </div>
	<% include partials/footer %>

    <% include partials/common-js %>

</body>

</html>
