<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Grymt spel</title>
    <% include partials/common-css %>
    <link rel="stylesheet" type="text/css" href="css/admin.css">
</head>

<body>

    <% include partials/header %>
	<% include partials/footer %>
    <% include partials/common-js %>

</body>

</html>
