<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Grymt spel</title>
	<% include partials/common-css %>
	<link type="text/css" rel="stylesheet" href="css/error.css" />
</head>

<body>

	<% include partials/header %>
	<div class="container" id="error-container">
		<h1><%= message %></h1>
		<h2><%= error.status %></h2>
		<pre><%= error.stack %></pre>
	</div>
	<% include partials/footer %>

</body>
</html>
