<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Grymt spel</title>
    <% include partials/common-css %>
    <link rel="stylesheet" type="text/css" href="css/game.css">
</head>

<body>

    <% include partials/header %>
    <canvas width=800 height=600 id="view"></canvas>

    <script src="dist/js/game-bundle.js"></script>

    <% include partials/header %>
    <% include partials/common-js %>

</body>
