<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Grymt spel</title>
    <% include partials/common-css %>
    <link rel="stylesheet" type="text/css" href="css/game.css">
</head>

<body>

    <% include partials/header %>
    <canvas width=800 height=600 id="view"></canvas>

    <script src="js/game-controller.js"></script>
    <script src="js/game-state.js"></script>
    <script src="js/sprite-factory.js"></script>
    <script src="js/audio-factory.js"></script>
    <script src="js/sprite.js"></script>
    <script src="js/background.js"></script>
    <script src="js/levels.js"></script>

    <!-- Behaviors -->
    <script src="js/behaviors/behavior.js"></script>
    <script src="js/behaviors/physical.js"></script>
    <script src="js/behaviors/moving.js"></script>
    <script src="js/behaviors/solid.js"></script>
    <script src="js/behaviors/platform.js"></script>
    <script src="js/behaviors/renderable.js"></script>
    <script src="js/behaviors/face-direction.js"></script>
    <script src="js/behaviors/controllable.js"></script>

    <!-- Objects -->
    <script src="js/objects/object-factory.js"></script>
    <script src="js/objects/game-object.js"></script>
    <script src="js/keyboard.js"></script>
    <script src="js/camera.js"></script>
    <script src="js/objects/block.js"></script>

    <script src="js/objects/characters/character.js"></script>
    <script src="js/objects/characters/giri.js"></script>

    <script src="js/game.js"></script>

    <% include partials/header %>
        <% include partials/common-js %>

</body>
