<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Grymt spel</title>
    <% include partials/common-css %>
    <link type="text/css" rel="stylesheet" href="css/lobby.css" />
</head>

<body>

    <% include partials/header %>
    <div class="container">
        <div id="lobby-jumbotron" class="jumbotron">
            <h1>Lobby</h1>
            <p>What do you wanna do?</p>
            <a href="editor" class="room-button btn btn-lg btn-primary">
                &#9874 Build
            </a>
            <a href="game" class="room-button btn btn-lg btn-success">
                <i class="fa fa-gamepad"></i> Play
            </a>
        </div>
    </div>
	<% include partials/footer %>

    <% include partials/common-js %>

</body>

</html>
