<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Grymt spel</title>
    <% include partials/common-css %>
    <link type="text/css" rel="stylesheet" href="css/lobby.css" />
</head>

<body>

    <% include partials/header %>
    <div class="container">
        <div id="lobby-jumbotron" class="jumbotron">
            <h1>Lobby</h1>
            <p>What do you wanna do?</p>
            <a href="editor" class="btn btn-lg btn-primary">
                Build
            </a>
            <a href="game" class="btn btn-lg btn-primary">
                Play
            </a>
        </div>
    </div>
	<% include partials/footer %>

    <% include partials/common-js %>

</body>

</html>
